.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-purple-border-card);
}

.network {
    width: 80%;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.network_item {
    width: 50px;
    height: 50px;
    padding: 0.8em 0;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--color-purple-btn);
    cursor: pointer;
}

.copy_content {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1em 0;
    margin-bottom: 1rem;
}

.copy_content p {
    width: 100%;
    font-family: 1.5rem;
    text-align: center;
    font-family: var(--font);
    color: var(--background);
}