.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-purple-border-card);
}

.other {
    width: 80%;
    padding: 1em 0;
    display: flex;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--font);
    color: var(--background);
}

.copy_content {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1em 0;
    margin-bottom: 1rem;
}

.copy_content p {
    width: 100%;
    font-family: 1.5rem;
    text-align: center;
    font-family: var(--font);
    color: var(--background);
}

@media screen and (min-width: 920px) {
    .footer {
        flex-direction: row;
    }

    .network {
        justify-content: flex-end;
    }

    .network_item {
        margin-left: 1rem;
    }

    .copy_content {
        align-items: center;
        margin-bottom: 0;
        margin-left: 1rem;
        border-left: 4px solid var(--color-purple-btn);
    }

    .copy_content p {
        font-size: 1.2rem;
    }
}