.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    width: 100%;
}

.hero__me {
    display: none;
}

.hero__description {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.hero__title {
    width: 95%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
}

.hero__title_title {
    font-size: 2.8rem;
    display: flex;
    align-items: baseline;
    letter-spacing: 0.2em;
}

.hero__title_title span {
    font-size: 5.5rem;
    color: var(--color-purple-border-card);
    animation: moveLetter 0.2s linear alternate infinite;
}

.hero__description_paragraph {
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.hero__description_paragraph span {
    padding-left: 1em;
}

.hero__description_sentence {
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 400;
    font-family: var(--font-title);
}

.hero__network {
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-evenly;
}

.hero__network_item {
    width: 30%;
    padding: 1em 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font);
    color: var(--color-purple-border-card)
}

.hero__network_item img {
    width: 30px;
    height: 20px;
}


@keyframes moveLetter {
    0% {
        transform: translateY(-15px) rotate(10deg);
    }
    100% {
        transform: translateY(0) rotate(10deg);
    }    
}

@media screen and (min-width: 520px) {
    .hero__title_title {
        font-size: 3.5rem;
    }
    .hero__description_paragraph {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 620px) {
    
    .hero__title_title {
        font-size: 3.8rem;
    }

    .hero__description_paragraph {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 720px) {
    
    .hero__title_title {
        font-size: 4rem;
    }

    .hero__title_title span {
        font-size: 5.8rem;
    }

}

@media screen and (min-width: 920px) {

    .hero {
        flex-direction: row;
    }

    .hero__me {
        display: inline-flex;
        justify-content: center;
        width: 35%;
        height: 300px;
        animation: floatingImage 2s linear alternate infinite;
    }
    
    .img__content {
        width: 60%;
        height: 100%;
    }

    .img__content img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hero__description {
        width: 55%;
    }
    
    .hero__title_title {
        font-size: 4.5rem;
    }

    .hero__title_title span {
        font-size: 6rem;
        animation: none;
        transform: rotate(10deg);
    }

    .logo_hero_language {
        transform-origin: center;
        animation: rotateLogo 0.6s linear alternate infinite;
    }

    @keyframes floatingImage {
        0% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes rotateLogo {
        0% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(20deg);
        }
    }

}

@media screen and (min-width: 1040px) {
    
    .hero{
        padding: 4rem 0;
    }

    .hero__me {
        width: 35%;
    }

    .hero__description {
        width: 45%;
    }
}

@media screen and (min-width: 1040px) {
    .hero__me {
        width: 40%;
    }
    .hero__description {
        width: 40%;
    }
}