.projects {
    display: grid;
    grid-template-areas:  "title title"
                         "wrapper wrapper";
    background-color: var(--background);
}

.projects__title {
    grid-area: title;
    width: 100%;
    padding: 0.5em;
    font-size: 1.5rem;
    font-family: var(--font);
    text-align: center;
    text-decoration: underline wavy var(--color-border-about-me-detail);
    
}

.projects__wrapper {
    grid-area: wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__vanilla, .projects__react {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.projects__react  {
    height: 300px;
    width: 100%;
    justify-content: center;
    background-color: var(--color-purple-btn);
    margin-bottom: 0;
}

.projects__react p {
    font-family: var(--font);
    color: var(--color-purple-footer);
    font-size: 2rem;
}

.projects__vanilla_title, .projects__react_title {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font);
}

.projects__react_title {
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.logo_language {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.logo_language_react {
    display: inline-block;
    width: 45px;
    height: 45px;
}

.logo_language img, .logo_language_react img{
    width: 100%;
    height: 100%;
}

.projects__js {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 770px) {
    .projects__js {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}


@media screen and (min-width: 920px) {
    
    .projects__vanilla_title, .projects__react_title {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

}

@media screen and (min-width: 1020px)  {
    .projects__vanilla_title, .projects__react_title {
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }
}