.projects {
    display: grid;
    grid-template-areas:  "title title"
                         "wrapper wrapper";
    background-color: var(--background);
}

.projects__title {
    grid-area: title;
    width: 100%;
    padding: 0.5em;
    font-size: 1.8rem;
    font-family: var(--font);
    text-align: center;
    text-decoration: underline wavy var(--color-border-about-me-detail);

}

.projects__wrapper {
    grid-area: wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__vanilla {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__vanilla_title {
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font);
}

.projects__js {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vanilla_card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 4px solid var(--color-purple-border-card);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.vanilla_img {
    width: 100%;
    height: 120px;
    margin-bottom: 0.5rem;
}

.vanilla_img img {
    width: 100%;
    height: 100%;
}

.vanilla_title_card {
    width: 90%;
    padding: 0.5em 0;
    font-size: 1.2rem;
    font-family: var(--font);
    text-decoration: underline dashed var(--color-border-items-menu) 4px;
}

.vanilla_desc {
    width: 90%;
    font-size: 1rem;
    padding: 0.5em 0;
    margin-bottom: 1rem;
    font-family: var(--font);
}

.vanilla_links_content {
    width: 90%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.vanilla_btn {
    width: 40%;
    font-size: 1rem;
    padding: 0.5em 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: var(--font);
    color: var(--color-purple-border-card);
    background-color: var(--color-purple-btn);
}

.vanilla_btn:hover {
    color: var(--color-border-about-me-title);
}

