.projects {
    display: grid;
    grid-template-areas:  "title title"
                         "wrapper wrapper";
    background-color: var(--background);
}

.projects__title {
    grid-area: title;
    width: 100%;
    padding: 0.5em;
    font-size: 1.5rem;
    font-family: var(--font-title);
    text-align: center;
    text-decoration: underline wavy var(--color-border-about-me-detail);
    
}

.projects__wrapper {
    grid-area: wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__vanilla, .projects__react {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}


.projects__vanilla_title, .projects__react_title {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-title);
}

.projects__react_title {
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.logo_language {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.logo_language_react {
    display: inline-block;
    width: 45px;
    height: 45px;
}

.logo_language img{
    width: 25px;
    height: 30px;
}

.logo_language_react img {
    width: 40px;
    height: 40px;
    animation: toTurn 2s linear infinite;
}

.projects__js, .projects__react {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 770px) {

    .projects__js, .projects__react {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}


@media screen and (min-width: 920px) {
    
    .projects__vanilla_title, .projects__react_title {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

}

@media screen and (min-width: 1020px)  {
    .projects__vanilla_title, .projects__react_title {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}

@keyframes toTurn {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}