.projects {
    display: grid;
    grid-template-areas:  "title title"
                         "wrapper wrapper";
    background-color: var(--background);
}

.projects__title {
    grid-area: title;
    width: 100%;
    padding: 0.5em;
    font-size: 1.8rem;
    font-family: var(--font);
    text-align: center;
    text-decoration: underline wavy var(--color-border-about-me-detail);
    
}

.projects__wrapper {
    grid-area: wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__vanilla, .projects__react {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.projects__vanilla_title, .projects__react_title {
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font);
}

.projects__js {
    display: flex;
    flex-direction: column;
    align-items: center;
}