.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1.2rem;
    box-shadow: 0 .1rem 0.8rem 1px var(--color-border-items-menu);
}

.card_title_card {
    width: 90%;
    padding: 0.5em 0;
    font-size: 1.1rem;
    font-family: var(--font);
    text-decoration: underline dashed var(--color-border-items-menu) 4px;
}

.card_desc {
    width: 90%;
    font-size: 1rem;
    padding: 0.5em 0;
    margin-bottom: 0.5rem;
    font-family: var(--font);
}

.card_links_content {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

.card_btn {
    width: 40%;
    font-size: 1rem;
    padding: 0.5em 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: var(--font);
    color: var(--color-purple-border-card);
    background-color: var(--color-purple-btn);
}

.card_btn:hover{
    color: var(--color-border-about-me-title);
}

@media screen and (min-width: 500px) {
    .card {
        width: 80%;
    }
    
}

@media screen and (min-width: 770px) {
    .card {
        width: 40%;
    }

    .card_desc {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

@media screen and (min-width: 920px) {
    .card {
        width: 35%;
        transition: transform 100ms linear;
    }

    .card:hover {
        transform: scale(1.1);
    }

}

@media screen and (min-width: 1020px) {
    .card {
        width: 42%;
    }

    .card_desc {
        font-size: 0.90rem;
    }
}


@media screen and (min-width: 1040px) {
    .card {
        width: 26%;
    }
}
