.card{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 4px solid var(--color-purple-border-card);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
}

.card_img{
    width: 100%;
    height: 150px;
}

.card_img img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}

.card_title_card {
    width: 90%;
    padding: 0.5em 0;
    font-size: 1.2rem;
    font-family: var(--font);
    text-decoration: underline dashed var(--color-border-items-menu) 4px;
}

.card_desc {
    width: 90%;
    font-size: 1rem;
    padding: 0.5em 0;
    margin-bottom: 1rem;
    font-family: var(--font);
}

.card_links_content {
    width: 90%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.card_btn {
    width: 40%;
    font-size: 1rem;
    padding: 0.5em 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: var(--font);
    color: var(--color-purple-border-card);
    background-color: var(--color-purple-btn);
}

.card_btn:hover{
    color: var(--color-border-about-me-title);
}