* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'inter';
    src: url('');
  }
  
  @font-face {
    font-family: 'rubik';
    src: url('');
  }
  
  
  :root {
    
    --background: #1c003b;
    --color-purple: #9032bb;
  
    --color-cyan: #80f4f4;
    --color-blue: #6096e5;
    --color-purple-ligth: #f988ff;
  
    --font: 'inter';
    --font-title: 'rubik';
  
  }
  
  html {
    font-size: 16px;
    background-color: var(--background);
  }
  
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color-purple-footer); 
  }