.header {
    font-family: var(--font);
    background-color: var(--background);
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    position: sticky;
    top: 0;
}

.content__img {
    width: 45%;
}

.content__img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-purple-border-card);
}

.content__nav {
    width: 45%;
}

