* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: 'inter';
  src: url('./font/Inter-Medium.ttf');
}


:root {
  
  --background: #f3f3f3;
  --background-purple-ligth: #e6ccef;
  --color-purple-btn: #cb9bde;
  --color-purple-footer: #af69cd;
  --color-purple-border-card: #9032bb;

  --color-border-about-me-title: #80f4f4;
  --color-border-about-me-detail: #6096e5;
  --color-border-items-menu: #c6edff;

  --font: 'inter';

}

